.btn{
  border: 2px solid $blue-500;
  border-radius: 5px;
  padding: 10px 20px;

  background: $blue-500;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $small-text-size;
  font-weight: 500;
  color: #fff;
  cursor: pointer;

  transition: border-color .2s ease-in-out, background .2s ease-in-out;

  &:hover{
    border-color: $blue-400;
    background: $blue-400;
  }

  &.lite-btn{
    background: none;
    border: none;
    font-weight: normal;
    font-size: $small-text-size;
    color: $normal-text-color;
    padding: 0;
  }

  &.outline-btn{
    background: #fff;
    border-color: $normal-text-color;
    color: $normal-text-color;
  }

  &.circle-btn{
    border-radius: 50%;
    padding: 0;
    font-size: $medium-text-size;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: none;
  }
}
