*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
}

html, body{
  min-height: 100%;
}

body{
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, li{
  color: $normal-text-color;
}

h1{
  font-size: $big-text-size;
  font-weight: 700;
}

h2{
  font-size: $medium-text-size;
  font-weight: 700;
}

img{
  max-width: 100%;
}

li{
  font-size: $normal-text-size;
  list-style: none;
  padding: 5px 0;
}

p{
  margin-top: 5px;
  line-height: 160%;
  &:first-of-type{ margin-top: 0; }
  &:only-of-type{ margin-top: 0; }
}
