
$small-space: 5px;
$normal-space: 15px;
$big-space: 30px;

$normal-text-color: #2b3137;
$small-text-size: 12px;
$mobile-small-text-size: 14px;
$normal-text-size: 14px;
$mobile-normal-text-size: 16px;
$medium-text-size: 20px;
$big-text-size: 30px;

$blue-500: #2196F3;
$blue-400: #42A5F5;
$blue-50: #E3F2FD;
